@{
    ViewBag.Title = "Imágenes del producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Imágenes del producto @ViewBag.IdProducto</h2>*@

<div class="row" style="display: flex; padding: 20px">
    @foreach (var imagen in ViewBag.Imagenes)
    {
        <div class="col-md-4">
            <img src="@imagen" style="height: 200px; width: 200px" />
        </div>
    }

</div>
<h2>Descripcion del producto @ViewBag.Descripcion</h2>

