@{
    ViewBag.Title = "Imágenes del producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Imágenes del producto @ViewBag.IdProducto</h2>*@

@*<div class="row" style="display: flex; padding: 20px">*@
<div class="row">
    
        @foreach (var imagen in ViewBag.Imagenes)
        {
            <div class="col-sm-6 col-md-3" style="top:20px">
            <div class="thumbnail" style=" background-color: #a8a7b5 ">
                <img src="@imagen" class="img-producto" style="height: 200px; width: 200px" />
            </div>
            </div>
        }

   
    </div>

    <h2>@ViewBag.Descripcion</h2>

    <div class="modal fade" id="modal-imagen" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="" class="img-responsive" id="imagen-modal" />
                </div>
            </div>
        </div>
    </div>


