
@{
    ViewBag.Title = "Subir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="col-sm-12">

        <div class="panel panel-primary" style="margin-top:50px">
            <div class="panel-heading">
                <h4>Cargar Archivo</h4>
            </div>
            <div class="panel-body">
                <form action="@Url.Action("SubirArchivo","Archivo")" method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <label>Nombre:</label>
                        <input class="form-control" name="Nombre" type="text" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label>Archivo:</label>
                        <input name="Archivo" type="file"/>
                    </div>
                    <button class="btn btn-success" type="submit">Subir Archivo</button>
                    <a class="btn btn-warning" href="@Url.Action("Index","Archivo")">Volver</a>
                </form>
            </div>

        </div>

    </div>
</div>

